h1 {
    color: rgb(117, 121, 138);
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
}


h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

.portrait {
    
    width: 50%;
    height: auto;
}

.portrait-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    color:aliceblue
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    

}